{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="paralax">
</div>
<div class="row">
    <h1 class='col-12 mt-5 mx-auto'>Accueil</h1>
    <h3 class='col-12 mx-auto accueil-title'> Concours Cosplay</h3>
</div>
{% endblock %}