{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="row">
    <img src="{{ asset('img/TITRE_SITE.webp') }}" alt="Carolo Game Show" class="col-sm-12 col-md-4 m-md-auto img-titre">
    <h1 class='col-12 mx-auto accueil-title'>Concours Cosplay</h1>
    {# <h3 class='col-12 mx-auto '>Accueil</h3> #}
</div>
{% endblock %}