<h1>Bonjour!</h1>

<p>Tu as oublié ton mot de passe ?<br>
Pour le changer, clique sur le lien ci-dessous, il t'emmènera sur la page pour en créer un nouveau.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class='btn btn-dark'>Créer un nouveau mot de passe</a>

<p>Attention, ce lien va expirer dans {{ tokenLifetime|date('g') }} heure.</p>

<p>Si tu rencontres un problème, n'hésites pas à nous contacter.</p>

<p>Bonne journée !</p>
