<h1>Bonjour!</h1>

<p>Tu as oublié ton mot de passe ?<br>
Pour changer votre mot de plasse, veuillez cliquer sur ce lien !</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien va expirer dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>Bonne journée!</p>
